.user_background{
  background: -webkit-linear-gradient(to left bottom,rgba(115, 149, 174, 0.9), hsla(27, 15%, 64%, 0.4));
  background: -o-linear-gradient(to left bottom,rgba(115, 149, 174, 0.9), hsla(27, 15%, 64%, 0.4));
  background: -moz-linear-gradient(to left bottom,rgba(115, 149, 174, 0.9), hsla(27, 15%, 64%, 0.4));
  background: linear-gradient(to left bottom,rgba(115, 149, 174, 0.9), hsla(27, 15%, 64%, 0.4));
}
.activity{
  background-color: rgba(0, 0, 0, 0.199);
}
.vl {
  width: 50px;
  height: 50px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 50%;
  border:1px black solid;

  margin-left:300px;
}
.vl:after {
  content: "";
  background: rgba(0, 0, 0, 0.925);
  height: 40px;
  position: absolute;
  width: 3px;
  left: 22px;
  top: 49px;
}

.speech-bubble {
	position: relative;
	background: #dbdbdbc5;
  border-radius: 5px;
  width:300px;
  height: 70px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 52%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 22px;
  border-right-color:  #dbdbdbc5;
  border-left: 0;
  margin-top: -17px;
  margin-left: -15px;
}