header.masthead-register {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background-image: linear-gradient(to left bottom,rgba(115, 149, 174, 0.9), hsla(27, 15%, 64%, 0.4)),url("../../img/slide12.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}